body{
background-color:#F4F4F4;
}

header{
background-color:white;
display:flex;
align-items:center;
}


a{
    text-decoration: none;
}
ol {
    list-style-type: none;
    padding: 0;
    margin:0;
}


.nav_items{
   display: inline-block;
   padding-left:10px;
   text-transform:uppercase;
   font-size:25px;

}

h1{

  position: absolute;
  top: 50%;
  font-size:40px;
  transform: translate(5%, -50%);
  color:white;
}

h2{
     height:30px;
    background-color: #BABAE2;
    text-align: center;
    text-transform: uppercase;
    text-align:center;
}
#footer{
     display:flex;
     align-items:center;
    background-color: #4C5B75;
    color:white;
    height:60px;
}


#more-flex{
display:flex;
flex-direction:row;
text-align:center;
}

p{
text-align: center;
}
.center-image{
 display:block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;

}
#order-flex{
display:flex;
flex-direction:row;
}
#order-flex img{

width:100%;
}

#left-align{
padding-left:70px;
text-align:left;
display:inline;

}

#try-flex{
display:flex;
flex-direction:row;
justify-content:center;
text-align:center;

}
ol{
display:inline;
position:absolute;
right:150px;

}
.footer-links{
color:white;
padding-left:10px;
font-size:12px;
}

button{

border:2px solid black;
color:#BABAE2;
text-align:center;
padding:2px 3px 2px 3px;
background-color:#F4F4F4;
margin-left:auto;
margin-right:auto;
}

/*css pseudo selectors*/

/* unvisited link */
a:link {
  color: #000000;
}

/* visited link */
a:visited {
  color: #00FF00;
}

/* mouse over link */
a:hover {
  color: #FF00FF;
}

/* selected link */
a:active {
  color: #FF0000;
}
#form-section{
text-align:center;

}

/*styling for contact*/
input,textarea{
margin-top:20px;
margin-left:20px;
width:400px;

}
#form-submit{
color:white;
background-color:#4C5B75;
border:groove;
}

.img-container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.img-container:hover .overlay {
    opacity: 1;
}

.gallery-link {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#made-rwanda-button,#things-rwanda-button,#hand-made-button{
    height:40px;
    width:100px;
    text-align: center;
}