nav {
    border-bottom: 1px solid black;
    text-decoration: none;
}
a{
    text-decoration: none;
}

ol {
    list-style-type: none;
    padding: 0;
    margin:0;
}

.nav_items{
   display: inline-block;
}
header{
    background-image: url("img/header.jpg");
    height:300px;
}
header p{
    color:white;
    text-align: center;
}
.title{
    background-color: #BABAE2;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold ;
}
#footer{
    background-color: #4C5B75;
    color:white;
}
#footer a{
    text-decoration: none;
}

#more-flex{
display:flex;
flex-direction:row;
}
/*.center{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}*/
p{
text-align: center;
}
.center-image{
 display:block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;

}
#order-flex{
display:flex;
flex-direction:row;
}
#order-flex img{

width:100%;
}

#left-align{
text-align:left;
display:inline;
}
#right-align{
text-align:right;
}
#try-flex{
display:flex;
flex-direction:row;
}
